/*Default styles*/
h1, h2, h3, h4, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    }

/*Properties for body*/
body {
    background-color: #AAFC9E;
    width: 100%;
    max-width: 1500px;
    margin:0 auto;
    }

/*Properties for headings and other text styles*/
h1 {
    color: navy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35pt;
    margin-left: 30px;
    }

h2 {
    color: #0000FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 14pt;
    margin-left: 50px;
    }

h3 {
    color: navy;
    font-family: Tahoma;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    }

h4 {
    color: navy;
    font-family: Tahoma;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    }

h5 {
    color: #0000FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 14pt;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    }

p {
    color: navy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;    
    }

.caption1 {
    color: slategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 12pt; 
    text-align: left;
    margin-left: 15px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 25%;
    }

.caption2 {
    color: slategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 12pt; 
    text-align: left;
    margin-left: 15px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 80%;
    }

.caption3 {
    color: slategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 12pt; 
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 20%;
    }

.caption4 {
    color: slategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 12pt; 
    text-align: left;
    margin-left: 15px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 45%;
    }

.caption5 {
    color: slategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 12pt; 
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 15%;
    }

.caption6 {
    color: slategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 12pt; 
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 20%;
    }

.caption7 {
    color: slategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 12pt; 
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 65%;
    }

.caption8 {
    color: slategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 12pt; 
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 15%;
    }

figure {
    margin-left: 0px;
}

/*Properties for Section*/
section {
    display: block;
    width: 1500px;
    }

section ul li {
    width: 100%;
    float: left;
    list-style: none;
    }

/*Default navigation button properties*/
nav {
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;   
    margin-left: 0px;
    }

nav ul {
    width: 100%;
    height: auto;
    padding-top: 8px;
    list-style: none;
    }

nav ul li {
    width: 20%;
    float: left;
    }

nav ul li a {
    text-align: center;
    text-decoration: none;
    font: bold;
    padding: 8px 0px;
    display: block;
    width: 95%;
    border-radius: 8px;
    background: #F79F81;
    background: -moz-linear-gradient(top, #F79F81 1%, #EA511A 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop (1%, #F79F81), color-stop(100%, #EA511A));
    background: -webkit-linear-gradient(top, #F79F81 1%, #EA511A 100%);
    }

nav ul li a:hover {
    color: red;
    }

nav a {
    color: #0000FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    font: bold;
    }

/*Div container properties*/
.plaindiv {
    width: 100%;
    height: auto;
    display: block;
    margin-left: 5px;
    float: left;
    }

.div1 {
    box-sizing: border-box;
    width: 75%;
    height: auto;
    float: left;
    }

.div2 {
    box-sizing: border-box;
    width: 20%;
    height: auto;
    float: left;
    display: block;
    }

.div2 a {
    font-family: Calibri;
    font-size: 12pt;
    font-weight: bold;
    }

.div2 ul {
    width: 100%;
    height: auto;
    list-style: none;
    }

.div3 {
    box-sizing: border-box;
    width: 60%;
    height: 160px;
    float: left;
    }

.div4 {
    box-sizing: border-box;
    width: 38%;
    height: 160px;
    float: right;
    }

.div5 {
    width: 100%;
    height: 10%;
    margin-left: 5px;
    display: block;
    float: left;
    }

.div6 {
    display: block;
    box-sizing: border-box;
    width: 22%;
    height: auto;
    float: left;
    margin-left: 5px;
    }

.div7 {
    display: block;
    box-sizing: border-box;
    width: 51%;
    height: auto;
    float: left;
    margin-left: 5px;
    }

.div8 {
    box-sizing: border-box;
    width: 25%;
    height: auto;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    display: block;
    }

.div9 {
    box-sizing: border-box;
    width: 13%;
    height: auto;
    margin-left: 10px;
    float: left;
    position: relative;
    top: 55%;
    display: block;
    }

.div9 a {
    font-family: Calibri;
    font-size: 12pt;
    font-weight: bold;
    }

.div9 ul {
    width: 100%;
    height: auto;
    list-style: none;
    }

.div10 {
    box-sizing: border-box;
    width: 35%;
    height: auto;
    float: left;
    position: relative;
    top: 60%;
    margin-left: 10px;
    }

.div11 {
    box-sizing: border-box;
    width: 41%;
    height: auto;
    float: left;
    position: relative;
    top: 55%;
    margin-left: 10px;
    }

.div12 {
    box-sizing: border-box;
    width: 90%;
    height: 150px;
    float: left;
    position: relative;
    top: 85%;
    left: 0%;
    margin-left: 10px;
    }

/*Navigation button properties used for Page2 layout*/
nav2 {
    height: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;   
    position: relative;
    }

nav2 ul {
    width: 100%;
    height: auto;
    list-style: none;
    margin-left: 5px;
    }

nav2 ul li {
    width: 150px;
    padding-top: 8px;
    }

nav2 ul li a {
    text-align: center;
    text-decoration: none;
    font: bold;
    font-size: 12pt;
    padding: 8px 0px;
    display: block;
    border-radius: 8px;
    background: #F79F81;
    background: -moz-linear-gradient(top, #F79F81 1%, #EA511A 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop (1%, #F79F81), color-stop(100%, #EA511A));
    background: -webkit-linear-gradient(top, #F79F81 1%, #EA511A 100%);
    }

nav2 ul li a:hover {
    color: red;
    }

nav2 a {
    color: #0000FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    font: bold;
    }

/*Image properties*/
img.large {
    width: 90%;
    height: auto;
    position: relative;  
    display: block;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    }

img.small {
    width: 22%;
    height: 10%;
    position: relative;  
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    }

img.tiny {
    width: 100%;
    height: 10%;
    position: relative;  
    display: block;
    float: left;
    margin-top: 10px;
    }

/* YouTube responsive CSS */ 
.video { 
    position: relative; 
    padding-bottom: 36.25%;  
    padding-top: 0px;
    overflow: hidden;
    } 

.video iframe { 
    position: absolute; 
    width: 90%!important; 
    height: 90%!important; 
    } 


/*Image properties used for Page2 layout*/
img.large2 {
    width: 100%;
    }

img.small2 {
    width: 50%;
    height: auto;
    position: relative;  
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    }

/* Properties for text box submit button */
input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 120px;
    height: 28px;
    font-family: Tahoma;
    font-weight: bold;
    color: navy;
    background: #88CE7E;
    }

/* Properties for text box */
textarea {
    border-radius: 5px;
    border: 0;
    }

/* Animation code */
@keyframes animation {
    0% {background-color: #EA511A; left:5px; top:0px;}
    50% {background-color: navy; left:550px; top:0px;}
    100% {background-color: #EA511A; left:5px; top:0px;}
    }

/* Element to apply the animation to */
.element {
    width: 900px;
    height: 20px;
    margin-top: 5px;
    position: relative;
    background-color: #AAFC9E;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: 3;
    }

    /* Media rules for mobile phones: */

@media only screen and (min-width: 300px) and (max-width: 640px){

    .plaindiv {
        width: 100%;
        display: block;
        margin-left: 10px;
        float: left;
    }

    .div8 {
        width: 27%;
        position: absolute;
        left: 70%;
    }

    .div10 {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 20%;
    }

    .div11 {
        width: 45%;
        position: absolute;
        top: 45%;
        left: 50%;
    }

    .div12 {
        width: 100%;
        position: absolute;
        top: 70%;
    }

    section {
        width: 100%;
        height: auto;
        float: left;
    }

    h1 {
        margin-left: 10px;
    }

    h3 {
        font-size: 10pt;
    }

    h4 {
        font-size: 9pt;
    }

    h5 {
    font-size: 13pt;
    }

    p {
        font-size: 11pt;
        margin-left: 10px;
        margin-top: 10px;
    }

    .caption5 {
    font-size: 11pt;
    }
    
    nav {
        height: 175px;
        width: 100%;
    }

    nav li {
        width:100%;
        height:35px;
    }

    nav a {
        font-size: 12pt;
    }
    
    nav2 {
        height: 175px;
        width: 100%;
    }

    nav2 li {
        width:100%;
        height:auto;
    }

    nav2 ul li {
        width: 110px;
        padding-top: 8px;
    }

    nav2 ul li a {
        font-size: 11pt;
    }
    
    textarea {
        width: 90%;
    }

    img.tiny {
        width: 80%;
        height: 10%;
    }
}

    /* Media rules for tablets: */

@media only screen and (min-width: 641px) and (max-width: 1224px){

    .div12 {
        width: 100%;
        position: relative;
        top: 75%;
    }

    h3 {
        font-size: 12pt;
        margin-left: 10px;
        margin-top: 10px;
    }

    h4 {
        font-size: 10pt;
    }

    p {
        font-size: 12pt;
        margin-left: 10px;
        margin-top: 10px;
    }

    nav a {
        font-size: 12pt;
    }
    
    img.large {
        width: 70%;
        height: auto;
    }

    img.tiny {
        width: 90%;
        height: 10%;
    }

    section {
        width: 100%;
        height: auto;
    }

    textarea {
        width: 90%;
    }
}

    /* Media rules for desktop PC */

@media only screen and (min-width: 1225px){

    .div2 {
        width: 15%;
    }

    h3 {
        font-size: 14pt;
        margin-left: 20px;
        margin-top: 10px;
    }

    h4 {
        font-size: 11pt;
    }

    p {
        font-size: 14pt;
        margin-left: 30px;
        margin-top: 10px;
    }

    img.large {
        width: 60%;
        height: auto;
    }

    img.tiny {
        width: 100%;
        height: 10%;
    }

    section {
        width: 100%;
        height: auto;
    }
}